{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
	<div class="text-center">
		<h1>Bienvenue à la Médiathèque</h1>
		<p>
			Espace de 1000 m² situé dans le quartier de Chambéry, la Médiathèque d’Ornon est un outil culturel riche, conçu pour favoriser la lecture, 
      l'ouverture au monde musical et audiovisuel et l'initiation aux nouvelles technologies, mais aussi lieu de loisirs, de convivialité,
       de détente et d'accès à l'information.
    </p>
    <p>
      Vous pouvez assister, tout au long de l'année aux différentes manifestations culturelles gratuites proposées par la Médiathèque d'Ornon : concerts, ateliers de lecture et d'écriture, contes, animations multimédia.

      Les collections proposées sont importantes (environ 70000 documents), multisupport et très actualisées. Tous les documents sont en libre accès et disponibles au prêt. Le service est entièrement gratuit pour les villenavais et pour les enfants de moins de 18 ans.

      Un fonds local et régional assez riche est accessible dans nos locaux, ainsi qu'un fonds en occitan.
		</p>
    <p>
	</div>
	<div class="text-center" style="margin-top: 5%;">
			<a href="/Romans"><button type="button" class="btn btn-outline-success " data-mdb-ripple-color="#000000">Romans</button></a>
			<a href="/Policier"><button type="button" class="btn btn-outline-success " data-mdb-ripple-color="#000000">Policier</button></a>
			<a href="/Amour"><button type="button" class="btn btn-outline-success " data-mdb-ripple-color="#000000">Amour</button></a>
			<a href="/Autobiographique"><button type="button" class="btn btn-outline-success " data-mdb-ripple-color="#000000">Autobiographique</button></a>
			<a href="/thriller"><button type="button" class="btn btn-outline-success " data-mdb-ripple-color="#000000">Thriller</button></a>
			<a href="/fiction"><button type="button" class="btn btn-outline-success " data-mdb-ripple-color="#000000">Fiction</button></a>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 " style="margin-top: 5%;justify-content: space-between">
		{% for livres in livre %}
			<div class="card" style="width: 18rem;padding: 0;margin-top: 10px">
        <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ livres.getTitle }}</h5>
          <p class="card-text">{{ livres.getDescription}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{livres.getGenre}}</li>
          <li class="list-group-item">Parution le: {{ livres.getDateParution |date("m/d/y") }}</li>
        {% if app.user %}
          {% if livres.getDispo == true %}
          <li class="list-group-item">Ce livre est disponible</li>
          </ul>
          {% else %}
          <li class="list-group-item">Ce livre n'est pas disponible</li>
          </ul>
          {% endif %}
          {% if livres.getDispo == true %}
          <div class="card-body">
            <a href="/disable/{{ livres.getId }}" class="btn btn-outline-success ">Emprunter le !</a>
          {% else %} 
          <div class="card-body">   
            <a href="#" class="btn btn-secondary disabled">Emprunter le !</a>      
          {% endif %}
        {% else %}
        <li class="list-group-item">Connecter vous pour emprunter</li>
        </ul>
        <div class="card-body">        
            <a href="/disable/{{ livres.getId }}" class="btn btn-outline-success ">Se connecter</a>
        {% endif %}
        </div>
      </div>         
		{% endfor %}
	</div>
</div>
<div class="d-flex justify-content-center" style="margin-top: 20px">
    {{ knp_pagination_render(livre) }}
</div>
{% endblock %}
